
<div class="small-card">
    <div class="small-svg">
        <li class="country"><img src="${flags.svg}" alt="Flag of ${name.official}" />
            <h1>${name.official}</h1>
        </li>
    </div>
</div>